@import './index.css';

.ButtonContainer { 
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    min-width: 30px;
    min-height: 30px;
    
    border: 1px solid var(--text_and_line); 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: var(--padding);
}